body{
  /* margin-top: 300px; */
}
.title{
  background-color: black;
  color: white;
}

h1 {

justify-content: center;
text-align: center;
}

.mainsection{
  margin-bottom: 400px;
}

button{
  border-radius: 5px;
  height: 60px;
  width: 100px;
}

div.spacingRestart{
  padding-top: 10px;
}
